* {
    margin: 0;
}

body {
    background: cornsilk;
}

.article {
    padding: 24px;
    font-family: sans-serif;
    max-width: 680px;
    margin: 0 auto;
    text-align: left;
}

.article__heading {
    margin: 0 0 1.5rem 0;
}

.article__heading--verified {
    color: palevioletred;
}

.article__lead {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
    margin: 16px 0;
}

.figure {
    margin: 16px 0;
}

.figure__image {
    height: auto;
    max-width: 100%;
}

.figure__caption {
    margin-top: 8px;
    text-align: center;
    font-style: italic;
}